@import '../../../styles';

main {
    color: $font-primary-color;
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .error {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: black;
    }
    app-navbar {
        flex: 1;
    }
    section {
        flex: 20;
    }
    app-text-bar  {
        flex: 1;
    }
}

.warning-modal {
    @extend %font-md;
    display: flex;
    align-items: flex-end;
    height: 65px;
    padding-left: 40px;
    padding-right: 40px;
    hr {
        width: 150px;
        margin-left: 50px;
    }
    button {
        height: 80%;
        background: none;
        border: 1px solid white;
        width: 100px;
        border-bottom: none;
    }
}

#page-content-overlay {
    background-color: white;
    position: fixed; 
    opacity: 0.2;
    display: none; 
    width: 100%;
    height: 5000px;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3; 
    cursor: pointer;
}