<main id="app-gallery">

    <app-navbar
        [currentPage]="galleryManagerService.currentPage">
    </app-navbar>

    <section id="page-content">

        <div *ngIf="error" class="error">
            <h1>ERROR: {{ error.name }}</h1>
            <h5>STATUS: {{ error.statusText }}</h5>
        </div>
    
        <div *ngIf="!galleryManagerService.returnCurrentChapter()" class="error">
            <h1>ERROR: Chapter not available</h1>
        </div>
    
        <div *ngIf="galleryManagerService.returnCurrentChapter().pages.length === 0" class="error">
            <h1>ERROR: Chapter doesn't have pages</h1>
        </div>
    
        <app-carousel 
            [page]="galleryManagerService.currentPage"
            [enableNext]="!galleryManagerService.atLastPageInGallery()"
            [enablePrevious]="!galleryManagerService.atFirstPageInGallery()"
            (gotoNextPage)="galleryManagerService.gotoNextPage()"
            (gotoPreviousPage)="galleryManagerService.gotoPreviousPage()">
        </app-carousel>

        <app-text-bar 
            [text]="galleryManagerService.currentPage ? galleryManagerService.currentPage.text : ''">
        </app-text-bar>

    </section>

</main>

<app-modal id="nsfw-warning-modal">
    <div class="warning-modal">
     <p class="warning-text" tabindex="0" role="alert">This next segment contains NSFW content. Continue?</p>
     <hr>
     <button (click)="skipPage(nsfwWarningModalId)" class="warning-button">SKIP</button>
     <button class="warning-button" (click)="closeNSFWModal()">YES</button>
    </div>
</app-modal>