/* You can add global styles to this file, and also import other style files */

/* VARIABLES */

$primary-color: #000000;
$secondary-color: #ffffff;
$accent-color: #b92b27;
$accent-color-transparent: rgba(0,85,255, 0.2);

$font-primary-color: #F0F0F0;

$font-styled: 'Source Code Pro', monospace;

$font-size-medium: 16px;
$font-size-large: 28px;

$viewport-height: 100vh;

$navbar-side-margin: 30px;
$link-margins: 50px;

$navbar-height: 5vh; // delete this later
$carousel-height: 85vh; // delete this later
$textbar-height: 10vh; // delete this later

/* BREAKPOINTS */

$view-modal-breakpoint: 1500px;
$y-mobile-breakpoint: 600px;
$x-mobile-breakpoint: 800px;

/* X-ORIENTED MOBILE RESPONSIVENESS */

@media screen and (max-width: $x-mobile-breakpoint) {

    // navbar 

    header {
        padding: 10px !important;
    }

    header .title {
        font-size: 5vw !important;
    }
    
    .about-btn {
        display: none;
    }
    
    .mobile-icons {
        visibility: visible;
    }
    
    .arrow {
        visibility: hidden;
    }

}

@media screen and (min-width: $x-mobile-breakpoint) {
    .mobile-icons {
        display: none;
    }
}

/* FONT */

html {
    font-size: calc(11px + .35vw);
}

body {
    font-family: $font-styled;
}

%font-xl {
    font-size: 3rem;
}

%font-lg {
    font-size: 1.8rem;
}

%font-md {
    font-size: 1.5rem;
    @media screen and (max-height: $y-mobile-breakpoint) {
        font-size: 1rem;
    }
}

%font-sm {
    font-size: 1.2rem;
}

/* ACCESSIBILITY */

%keyboard-focus-style {
    border: 1px solid white;
}

%primary-button {
    @extend %font-sm;
    background-color: $primary-color;
    border: none;      
}

*:focus {
    outline: 2px solid $accent-color;
}

button, label {
    &:focus {
        background-color: $accent-color !important;
        outline: none;
    }
}

div, select {
    &:focus {
        outline: none;
    }
}

.alt-focus-style {
    &:focus {
        color: $accent-color !important;
        background-color: black !important;
        outline: none;
    }
}

/* OVERALL LAYOUT POSITIONING */

main {

    height: 100vh;

}

/* COMMON */

select {
    background-color: black;
    border: none;
    border-bottom: 1px solid white;
    margin-right: 50px;
} 
    
button {
    @extend %font-sm;
    background-color: $primary-color;
    border: none;  
}

.justify-start {
    margin-right: auto;
}

.crossed {
    background: 
        linear-gradient(to top left,
            rgba(0,0,0,0) 0%,
            rgba(0,0,0,0) calc(50% - 0.8px),
            white 50%,
            rgba(0,0,0,0) calc(50% + 0.8px),
            rgba(0,0,0,0) 100%),
        linear-gradient(to top right,
            rgba(0,0,0,0) 0%,
            rgba(0,0,0,0) calc(50% - 0.8px),
            white 50%,
            rgba(0,0,0,0) calc(50% + 0.8px),
            rgba(0,0,0,0) 100%);
}