/* You can add global styles to this file, and also import other style files */

/* VARIABLES */

$primary-color: #000000;
$secondary-color: #ffffff;
$accent-color: #0575E6;
$accent-color-transparent: rgba(0,85,255, 0.2);

$font-primary-color: #F0F0F0;

$font-styled: 'Source Code Pro', monospace;

$font-size-medium: 16px;
$font-size-large: 28px;

$viewport-height: 100vh;

$navbar-side-margin: 30px;
$link-margins: 50px;

$navbar-height: 5vh; // delete this later
$carousel-height: 85vh; // delete this later
$textbar-height: 10vh; // delete this later

/* BREAKPOINTS */

$modal-breakpoint: 1500px;
$y-mobile-breakpoint: 600px;
$mobile-breakpoint: 450px;

/* FONT */

html {
    font-size: calc(11px + .35vw);
}

body {
    font-family: $font-styled;
}

%font-xl {
    font-size: 3rem;
}

%font-lg {
    font-size: 1.8rem;
}

%font-md {
    font-size: 1.1rem;
    @media screen and (max-height: $y-mobile-breakpoint) {
        font-size: 1rem;
    }
}

%font-sm {
    font-size: .95rem;
}

/* ACCESSIBILITY */

%keyboard-focus-style {
    border: 1px solid white;
}

%primary-button {
    @extend %font-sm;
    background-color: $primary-color;
    border: none;      
}

*:focus {
    outline: 2px solid $accent-color;
}

main, div, button, header, footer, label, select {
    &:focus {
        outline: 2px solid $accent-color;
        border: 1px solid $accent-color;  
        background-color: $accent-color !important;       
    }
}

/* OVERALL LAYOUT POSITIONING */

main {

    height: 100vh;
    
    header {
        height: 5vh;
    }
    article {
        height: 80vh;
    }
    footer {
        height: 15vh;
    }

    @media screen and (max-width: 1000px) {
        header {
            height: 10vh;
        }
        article {
            height: 72vh;
        }
        footer {
            height: 18vh;
        }
    }

    @media screen and (max-width: $mobile-breakpoint) {
        header {
            height: 10vh;
        }
        article {
            height: 68vh;
        }
        footer {
            height: 22vh;
        }
    }

}

/* COMMON */

select {
    background-color: black;
    border: none;
    border-bottom: 1px solid white;
    margin-right: 50px;
} 
    
button {
    -webkit-appearance: button;
    background-color: green;
}

.justify-start {
    margin-right: auto;
}

.crossed {
    background: 
        linear-gradient(to top left,
            rgba(0,0,0,0) 0%,
            rgba(0,0,0,0) calc(50% - 0.8px),
            white 50%,
            rgba(0,0,0,0) calc(50% + 0.8px),
            rgba(0,0,0,0) 100%),
        linear-gradient(to top right,
            rgba(0,0,0,0) 0%,
            rgba(0,0,0,0) calc(50% - 0.8px),
            white 50%,
            rgba(0,0,0,0) calc(50% + 0.8px),
            rgba(0,0,0,0) 100%);
}